h3{
    color: mediumspringgreen;
    font-size: 40px;
}

.ducks {
    background: cyan;
    margin: 2px;
    width: 250px;
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}


#allMyDucks{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}